:root {
    /** Base colors */
    --clr-dark-a0: #000000;
    --clr-light-a0: #ffffff;

    /** Dark theme primary colors */
    --clr-primary-a0: #c061cb;
    --clr-primary-a10: #c873d1;
    --clr-primary-a20: #d085d7;
    --clr-primary-a30: #d797dd;
    --clr-primary-a40: #dfa8e3;
    --clr-primary-a50: #e6bae8;

    /** Dark theme surface colors */
    --clr-surface-a0: #000000;
    --clr-surface-a10: #1e1e1e;
    --clr-surface-a20: #353535;
    --clr-surface-a30: #4e4e4e;
    --clr-surface-a40: #696969;
    --clr-surface-a50: #858585;

    /** Dark theme tonal surface colors */
    --clr-surface-tonal-a0: #121825;
    --clr-surface-tonal-a10: #282d3a;
    --clr-surface-tonal-a20: #3f434f;
    --clr-surface-tonal-a30: #585b66;
    --clr-surface-tonal-a40: #71747e;
    --clr-surface-tonal-a50: #8c8e96;
}

/** Examples */

a {
    text-decoration: none;
    color: #fff;
}

body {
    color: var(--clr-light-a0);
    background-color: var(--clr-surface-a10);
    background-image: radial-gradient(at 9% 89%,
            var(--clr-primary-a0) 0px,
            transparent 50%),
        radial-gradient(at 72% 6%, var(--clr-primary-a10) 0px, transparent 50%),
        radial-gradient(at 24% 19%, var(--clr-surface-a10) 0px, transparent 50%),
        radial-gradient(at 65% 6%, var(--clr-primary-a30) 0px, transparent 50%),
        radial-gradient(at 20% 98%, var(--clr-primary-a0) 0px, transparent 50%),
        radial-gradient(at 44% 9%, var(--clr-primary-a50) 0px, transparent 50%),
        radial-gradient(at 10% 9%, var(--clr-surface-a0) 0px, transparent 50%);
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
}

.glass-container {
    display: block;
    max-width: 72vw;
    margin-top: 10vh;
    margin-bottom: 30px;
    background: rgba(0, 0, 0, 0.56);
    padding: 50px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.6px);
    -webkit-backdrop-filter: blur(1111.6px);
}

.logo {
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
    margin-top: -10px;
}

ul.nav-links {
    margin: 0;
    float: right;
    display: flex;
    list-style: none;
}

li.nav-link {
    display: inline-block;
    margin-left: 30px;
    font-size: 17px;
    font-weight: 300;
}

.content {
    display: flex;
    width: 100%;
}

.main {
    margin-top: 10vh;
    display: inline-block;
    padding: 20px;
}

.main h2 {
    font-size: 35px;
}

.main p {
    font-size: 16px;
    line-height: 23px;
}

button {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    font-size: 15px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    border-color: var(--clr-primary-a10);
    background-color: var(--clr-primary-a10);
}

.image-wrapper {
    display: flex;
    margin-top: 5vh;
    position: relative;

}

.image-wrapper img {
    max-width: 500px;
    /* --clr-primary-a0 */
    filter: brightness(0) saturate(100%) invert(68%) sepia(34%) saturate(3425%) hue-rotate(249deg) brightness(81%) contrast(94%);
}

.attrebute {
    position: absolute;
    bottom: 20px;
    right: 0;
    font-size: 12px;
}

/* Responsive  */
@media screen and (max-width: 1075px) {
    .content {
        flex-direction: column;
    }
}

@media screen and (max-width: 720px) {
    .logo {
        font-size: 22px;
    }

    li.nav-link {
        font-size: 13px;
    }

    .main h2 {
        font-size: 28px;
    }

    .main p {
        font-size: 15px;
    }

    button {
        font-size: 13px;
    }

    .image-wrapper img {
        max-width: 400px;
    }
}

@media screen and (max-width: 450px) {
    .logo {
        font-size: 18px;
        margin-right: -30px;
    }

    li.nav-link {
        font-size: 13px;
        margin-left: 15px;
    }

    .image-wrapper img {
        max-width: 300px;
    }
}

@media screen and (max-width: 390px) {
    .logo {
        font-size: 16px;
        margin-right: -45px;
    }

    li.nav-link {
        font-size: 12px;
        margin-left: 15px;
    }
}